{{!-- <img
  src="/assets/two-dogs-playing-tug-of-war-with-disc.jpeg"
  alt=""
  class="home-page-image"
/> --}}
<div class="homepage-btns">
  <button class="button login-btn is-info is-light">Login</button>
  <button class="button signup-btn is-info is-light">Sign Up</button>
</div>
<script src="/js/home.js"></script>