<img src="/assets/two-dogs-playing-tug-of-war-with-disc.jpeg" alt="" />
<div>
  <button class="login-btn">Login</button>
  <button class="signup-btn">Sign Up</button>
</div>
<script src="/js/home.js"></script>