<div class="homepage-btns">
  <button class="button login-btn is-info is-light">Login</button>
  <button class="button signup-btn is-info is-light">Sign Up</button>
</div>
<script src="/js/home.js"></script>