<h1>Your Profile</h1>

<h2>Welcome, John!</h2>

<form class="box">
  <h3>Update Your Dog</h3>
  <div class="field">
    <label class="label">Dog Name:</label>
    <div class="control">
      <input class="input" type="text" />
    </div>
  </div>

  <div class="field">
    <label class="label">Dog Breed:</label>
    <div class="control">
      <input class="input" type="text" />
    </div>
  </div>

  <button class="button is-primary">Update Dog</button>
</form>