
<button class='btn' type='logout'>Log Out</button>

<label for='zipcode'>Enter zipcode to search now:</label><br />
<input type='text' name='zipcode' id='zipcode' /><br />
<button class='btn' type='Search'>Search</button>

<div>
<button class='btn' type='Search'>Contact Me</button>
</div>

