<form class="signup-form">

  <div class="field">
    <label class="label">First Name:</label>
    <div class="control">
      <input class="input" type="text" name="firstname" id="firstname" />
    </div>
  </div>

  <div class="field">
    <label class="label">Last Name:</label>
    <div class="control">
      <input class="input" type="text" name="lastname" id="lastname" />
    </div>
  </div>

  <div class="field">
    <label class="label" for="email">Please enter your email:</label>
    <div class="control">
      <input class="input" type="email" name="email" id="email" />
    </div>
  </div>

  <div class="field">
    <label class="label" for="password">Choose a password:</label>
    <div class="control">
      <input class="input" type="password" name="password" id="password" />
    </div>
  </div>

  <div class="field">
    <label class="label" for="password">Confirm Password:</label>
    <div class="control">
      <input
        class="input"
        type="password"
        name="confirm-password"
        id="confirm-password"
      />
    </div>
  </div>

  <button class="button" type="submit">Submit</button>
</form>

<p class="signup-p">Already have an account? <a href="/login">Login Here</a></p>

<script src="/js/signup.js"></script>