header {
  width: max-content;
  text-align: center;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
}

h1 {
  font-size: 65px;
  color: azure;
  font-weight: bold;
  font-family: 'Love Ya Like A Sister', cursive;
}


h2 {
  font-size: 25px;
  color: azure;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Love Ya Like A Sister', cursive;
}

h3 {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: solid 2px;
  margin-bottom: 10px;
 
}

img {
  display: block;
  height: 200px;
  margin: auto;
}

#logo {
  height: 125px;

}

#logout {
  display: block;
  margin: auto;
}

#search {
  display: block;
  margin: auto;
}

.home-page-image {
  width: 50%;
  height: auto;
}

.homepage-btns {
  display: block;
  width: max-content;
  margin: auto;
}

.homepage-btns button {
  margin: 20px;
  width: 200px;
}

.login-form,
.signup-p,
.signup-form {
  display: block;
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
  background-color:rgba(74, 124, 89, 0.4);
  padding: 2em;
  border-radius: 20px;
  
  
}

.find-dogs {
  display: block;
  margin: auto;
}

.search-zip {
  display: block;
  text-align: center;
  margin: auto;
  width: 50%;
  margin-bottom: 20px;
}

.box{
  background-color: #e9f9f1;
  padding: 2em;
}

body{
  background-image: url("/assets/two-dogs-playing-tug-of-war-with-disc.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 3em;
}

.searchzip{
  color: azure;
  font-size: 20px;
 
}

.label{
  color: azure;
}

.signup-p{
  color: azure;
}

.block{
  color: black;
}

.pro{
  color: rgb(69, 66, 66)
}

.lh{
  color: rgb(255, 255, 255);
}